<div class="navbar-0 navbar-expand-lg bg-body-tertiary" style="height: 40px;">
    <div class="left-item col" style="margin-left: 4%;">
      <a href="">
        <img src="../assets/jordan-logo.png" alt="" height="20px" >
      </a>
    </div>
   <div class="right-item col mx-3">
    <a href="">Find a store</a>
    <div class="vl mx-2"></div>
    <a href="">Help</a>
    <div class="vl mx-2"></div>
    <a href="">Join us</a>
    <div class="vl mx-2"></div>
    <a href="">Sign in</a>
   </div>
</div>