.brand-offers{
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    color: black;
}

.slide-container{
    width: 100%;
    display: flex;
    overflow-x: hidden;
}

.slide-container div{
    width: 100%;
    flex: none;
}