<nav class="navbar row">
  <div class="brand-logo col mx-5">
    <a href="">
      <img src="../assets/nike-logo.png" alt="" height="50px">
    </a>
  </div>
  <div class="category-container col">
    <!-- mouse on change -->
    <div class="category-item">New & Featuerd</div>
    <div class="category-item">Mens</div>
    <div class="category-item">Womens</div>
    <div class="category-item">Kids</div>
    <div class="category-item">SNKRS</div>
  </div>
  <div class="s-w-c col">
    <div class="s col-md-8">
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="search">
          <!-- on enter take value -->
        </form>
    </div>
    <div class="w col-md-2">
      <mat-icon>
        <span class="material-icons-outlined">
          favorite_border
        </span>
      </mat-icon>
    </div>
    <div class="c col-md-2">
      <mat-icon>
        <span class="material-icons-outlined">
          work_outline
        </span>
      </mat-icon>
    </div>
  </div>
</nav>

